<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.things3.local_sync</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>local_sync_workflow.sh</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>__WORKING_DIRECTORY__</string>
    
    <key>StartInterval</key>
    <integer>1800</integer>
    
    <key>StandardOutPath</key>
    <string>__WORKING_DIRECTORY__/outputs/local_sync_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>__WORKING_DIRECTORY__/outputs/local_sync_stderr.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist> 